/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	
}


#container {
    position: relative; 
    padding: 20px;
	background-color: #D6C4A5;
}

header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;

}

header h1 {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  text-align: center;
}

nav {
    position: fixed; 
    top: 20px; 
    right: 20px; 
	z-index: 10;
}

/* Styling for the list and links */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    font-weight: 600;
}

figure {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; /* Remove any default margin */
}

/* Ensure image has no margin and is constrained to 50% of viewport height */
figure img {
    display: block; /* Ensures the image behaves like a block element and removes inline spacing */
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
    height: 75vh; 
    margin: 0; 
    animation: fadeIn 2s 1;
}

/*header {

font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  text-align: center;
}